.theFormSection {
  border: 5px solid red;
  display: flex;
  justify-content: center;
  

  
}

.theForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid blue;
  width: 15%;
}

.coin.penny {
  background: rgba(139, 68, 26, 0.801);
  border-radius: 50%;
  height: 115px;
  width: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coin.dime {
  background: silver;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coin.nickel {
  background: silver;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coin.quarter {
  background: silver;
  border-radius: 50%;
  height: 130px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hiddenCoins {
  display: none;
}

#displayedCoins {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}